<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Report</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Weather report</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
            {{#if user}}
                Hello {{user.name}} <a class="btn btn-danger navbar-btn" href="logout">Logout</a>
            {{else}}
                <a class="btn btn-default navbar-btn" href="login">Login</a>
            {{/if}}
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Welcome.</h1>

    {{{body}}}
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</body>

</html>
