<div class="row">
    {{#each forecast}}
        <div class="col m6 s12">
            <div class="card blue white-text">
                <div class="card-content">
                    <span class="card-title">{{dow}}</span>
                    <p>{{narrative}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>