<div class="row">
    <form method="post" action="/city">
        <div class="col s9 input-field">
            <input id="cityInput" name="city" type="text"/>
            <label for="cityInput">City: </label>
        </div>
        <div class="col s3">
            <button class="btn btn-default">Add new city</button>
        </div>
    </form>
</div>
{{#if user}}
    <div class="row">
            {{#each cities}}
                <div class="col m3 s12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{_displayName}}</span>
                            <p>{{_temperature}} Celsius degree</p>
                        </div>
                    </div>
                </div>
            {{/each}}
    </div>
{{/if}}
